#city-input, #weather-output {
    max-width: 400px;
    margin: 0 auto;
}
  
.banner {
    color: black;
    font-family: sans-serif;
}

body {
    background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}

.card-body {
    color: white;
    background: black;
}

.u {
    color: white;
}
